/*Reset*/
*,html{
	margin:0;
	padding:0;
}

h1,h2,h3,h4,h5,h6{
	margin-top:10px;
	border-bottom:1px solid#a1a1a1;
}

p{
	font-family:"Verdana";
	text-align: justify;
	font-size:18px;
	padding-top:1em;
}

a{
	text-decoration:none;
}

body{
	background-color: #669999;
	background: url('../img/crk.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

table{
	border-collapse: collapse;
}

td,th{
	border:1px solid #000;
	text-align: center;
	padding: 0px 5px 0px 5px;
}