<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Design Instruct: Clean, Classy Web Template</title>
<link href="assets/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body class="contact">
<div id="container">
	<div id="header">
		<h1><a href="#">Design Instruct: Clean, Classy Web Template</a></h1>
		<ul id="nav">
			<li><a href="index.html"><span>Home</span></a></li>
			<li><a href="#about"><span>About</span></a></li>
			<li><a href="#services"><span>Services</span></a></li>
			<li><a href="#portfolio"><span>Portfolio</span></a></li>
			<li><a href="#blog"><span>Blog</span></a></li>
			<li class="current"><a href="#contact"><span>Contact</span></a></li>
		</ul>
	</div>
	<div id="main">
		<div id="left">
			<h3>Contact form</h3>
			<form action="#" method="post">
    <div class="form-field">
         <label for="email">E-mail:</label>
         <input type="text" name="email" id="email" value="" tabindex="1" />
    </div>

<div  class="form-field">
         <label for="subject">Subject:</label>
         <input type="text" name="subject" id="subject" value="" tabindex="1" />
    </div>

    
	<div  class="form-field">
		<label for="message">Message:</label>
		<textarea cols="40" rows="8" name="message" id="message"></textarea>
	</div>
	

	<div  class="form-field">
	    <input type="submit" value="Submit" />
    </div>
</form>
			 </div>
		
		<div id="right" class="internal">
			<h2 id="right-heading">Recent Entries</h2>
			<ul id="recent-entries">
				<li><a href="#"><strong>Lorem ipsum dolor sit amet</strong></a></li>
				<li><strong><a href="#">Morbi vestibulum</a></strong></li>
				<li><strong><a href="#">Fusce semper tortor a tellus</a></strong></li>
				<li><strong><a href="#">Lorem ipsum dolor sit amet</a></strong></li>
				<li><strong><a href="#">Morbi vestibulum</a></strong></li>
				<li><strong><a href="#">Fusce semper tortor a tellus</a></strong></li>
				<li><strong><a href="#">Lorem ipsum dolor sit amet</a></strong></li>
				<li><strong><a href="#">Morbi vestibulum</a></strong></li>
				<li><strong><a href="#">Fusce semper tortor a tellus</a></strong><a href="#"></a></li>
			</ul>
			<div id="newsletter">
				<p>Subscribe to get the latest updates delivered right to your inbox. What's not to love?</p>
				<p id="newsletter-input">
					<input id="newsletter-email" type="text" />
					<input id="newsletter-submit" type="submit" value="go"  />
				</p>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div id="footer-inside"> <img style="float:left; clear:both;" src="assets/img/footer_social_media.png" width="153" height="60" alt="social media" />
		<ul id="foot-nav">
			<li class="current"><a href="#home"><span>Home</span></a></li>
			<li><a href="#about"><span>About</span></a></li>
			<li><a href="#services"><span>Services</span></a></li>
			<li><a href="#portfolio"><span>Portfolio</span></a></li>
			<li><a href="#blog"><span>Blog</span></a></li>
			<li><a href="#contact"><span>Contact</span></a></li>
		</ul>
		<p id="footer-logo"><a href="#">SixStudios</a><span>Copyright &copy; 2010 Design Instruct. All rights reserved.</span></p>
	</div>
	<script type="text/javascript" src=""></script>
	<script type="text/javascript" src="assets/js/main.js"></script>

</div>
</body>
</html>
