.left {
	background-color: #ECECEC;
	width: 280px;
	height: 1000px;
	float: left;
	margin: 0 auto;
}

.left h1 {
	text-align: center;
	font-family: 'Oleo Script Swash Caps', cursive;
	color: #418fd8;
}

.left p {
	text-align: center;
	font-size: 0.9em;
	margin: 10px;
}

#social {
	margin-top: 40px;
	float: left;
	height: 70px; 
	height: 70px;
}

#logo {
	margin-top: 15px;
	margin-left: 15px;
	width: 250px;
	height: 250px;
}

.right {
	position: absolute;
	min-width: 350px;
	background-color: white;
	margin-left: 280px;
	margin-right: 15px;
}

.right h1 {
	margin-top: 40px;
	margin-left: 20px;
}

.right p {
	text-align: justify;
	font-size: 1em;
	margin: 20px;
}

.right h2 {
	margin-top: 40px;
	margin-left: 20px;
}

#topic {
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 40px;
	font-family: 'Arial',sans-serif;
}

#topic #nome {
	color: gray;
	margin-right: 5px;
}

#topic #tipo1 {
	color: green;
	margin-right: 5px;
}

#topic #tipo2 {
	color: red;
	margin-right: 5px;
}

#topic #tipo3 {
	color: orange;
	margin-right: 5px;
}