.menu{
	width: 400px;
	height: 1000px;
	background-color: pink;
	border: 1px dotted #c1c1c1;
	float: left;
}
.content{
	min-width: 600px;
	height: 1000px;
	background-color: black;
	border: 1px dotted grey;
}
.ads{
	width: 200px;
	height: 1000px;
	background-color: green;
    float: right;
	border: 1px dotted #c1c1c1;
}
