.menu {
	border:1px dotted #010101;
	width:280px;
	height:1000px;
	float:left;
	background-color:#e1e1e1;
}

.logo{
	width:200px;
	padding:10px;
}

.nome{
	color:blue;
	font-size:2em;
	font-family:'Courier New';
	text-align:center;
	padding-top:15px;
}

.texto{
	font-size:0.8em;
	font-family:'Courier New';
	padding:30px;
}

.logo-facebook{
	width:100px;
	padding-left:90px;
}

.content {
	height:1000px;
	border:1px dashed gray;
	min-width:600px;
	padding-left:320px;
}

.texto-content{
	margin-top:50px;
	font-size:1em;
	font-family:'Courier New';
	text-align:justify;
	max-width:1000px;
	font-weight:lighter;
}

h2{
	margin-top:100px;
}

