.col1{
    margin-left:210px;
    text-align:justify;
    
}
.txt{
    width:600px;
    float:left;
    margin:0 auto;
}
h1,h2{
    text-align:center;
}
.col{
    width:200px;
    float:left;
}

.container{
    margin:0 auto;
    background:white;
    width:1100px;
    padding-top:0.1em;
    font-family:monospace;
}

.ex{
    font-size:1.3em;
}
.ex1{
    color:gray;
}

.p{
    font-weight:bold;
}
.vermelho{
    color:red;
}
.verde{
    color:green;
}