.col1{
    width:600px;
    float:right;
    text-align:justify;
}
.txt{
    width:600px;
    float:left;
}
h1,h2{
    text-align:center;
}
.col{
    width:200px;
    float:left;
}

.container{
    margin:0 auto;
    background:white;
    width:800px;
    padding-top:0.1em;
    border-top-width:6px;
    border-top-color:black; 
    box-shadow: 5px 10px 5px #888;
    font-family:monospace;
}

.ex{
    font-size:1.3em;
}
.ex1{
    color:gray;
}

.p{
    font-weight:bold;
}